.footer {
  &-phone,
  &-mail {
    img {
      width: 44px;
      height: 44px;
    }
  }
  &-copyright {
    border-top: 1px solid white;
    color: white;
  }
}

@include pad {
  .footer {
    padding: 40px 0;
    &-phone,
    &-mail {
      font-size: 20px;
      line-height: 30px;
      img {
        width: 24px;
        height: 24px;
      }
      a {
        margin-left: 12px;
      }
    }
    &-phone {
      margin-bottom: 11px;
    }
    &-nav {
      li {
        &:nth-child(n + 2) {
          margin-left: 40px;
        }
      }
    }
    &-social {
      li {
        &:nth-child(n + 2) {
          margin-left: 24px;
        }
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    &-copyright {
      img {
        display: none;
      }
      span {
        margin-left: 0;
      }
    }
  }
  .policy {
    font-size: 14px;
    line-height: 21px;
    li {
      &:last-child {
        margin-left: 24px;
      }
    }
  }
}

@include mobile {
  .footer {
    padding: 23px 0;
    &-nav {
      display: none;
    }
    &-phone,
    &-mail {
      font-size: 16px;
      img {
        width: 20px;
        height: 20px;
      }
      a {
        margin-left: 4px;
      }
    }
    &-phone {
      margin-bottom: 7px;
    }
    &-copyright {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      img {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 46px;
        height: 28px;
      }
      span {
        margin-left: 0;
      }
    }
    &-logo {
      margin-bottom: 7px;
    }
  }
  .policy {
    flex-direction: column;
    li {
      &:last-child {
        margin-left: 0;
        margin-top: 7px;
      }
    }
  }
}
