/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  display: block;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif; }

.bg-primary {
  background: #aa0601; }

.bg-secondary {
  background: #650300; }

.bg-pink {
  background: #aa06010d; }

.text-primary {
  color: #aa0601; }

.text-secondary {
  color: #650300; }

.text-lightDark {
  color: #212529; }

.text-light {
  color: #707070; }

.d-flex {
  display: flex; }

.fxd-c {
  flex-direction: column; }

.fxd-rr {
  flex-direction: row-reverse; }

.jcc {
  justify-content: center; }

.jcfe {
  justify-content: flex-end; }

.jcsb {
  justify-content: space-between; }

.aic {
  align-items: center; }

.aife {
  align-items: flex-end; }

.fxw-w {
  flex-wrap: wrap; }

.f-rob {
  font-family: "Roboto", sans-serif; }

.fs-italic {
  font-style: italic; }

.fw-regular {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

.text-ac {
  text-align: center; }

.text-ar {
  text-align: right; }

.bd-light {
  border: 1px solid #dee2e6; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 39px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 100%;
      padding: 0 15px; } }

.hover-bt-line {
  position: relative; }
  .hover-bt-line::after {
    content: "";
    position: absolute;
    background-color: white;
    left: 50%;
    right: 50%;
    height: 2px;
    bottom: -7px;
    transition: 0.3s; }
  .hover-bt-line:hover::after {
    left: 0;
    right: 0; }

.hover-float-up:hover {
  transform: translateY(-5px);
  transition: 0.3s; }

.hover-card-scale {
  position: relative;
  transition: all 0.2s; }
  .hover-card-scale:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 15px 0px #b8b8b8;
    padding: 10px; }

.hover-text-shadow .text-shadow {
  transition: all 0.3s; }

.hover-text-shadow:hover .text-shadow {
  transform: translate(5px, -5px);
  text-shadow: 5px 5px 5px #b8b8b8; }

.p-15 {
  padding: 15px; }

.p-12 {
  padding: 12px; }

.py-12 {
  padding: 12px 0; }

.py-14 {
  padding: 13px 0; }

.py-16 {
  padding: 16px 0; }

.py-20 {
  padding: 20px 0; }

.px-24 {
  padding: 0 24px; }

.pt-8 {
  padding-top: 8px; }

.pt-10 {
  padding-top: 10px; }

.pt-12 {
  padding-top: 12px; }

.pt-15 {
  padding-top: 15px; }

.pt-16 {
  padding-top: 16px; }

.pt-24 {
  padding-top: 24px; }

.pt-30 {
  padding-top: 30px; }

.pt-36 {
  padding-top: 36px; }

.pt-64 {
  padding-top: 64px; }

.pt-80 {
  padding-top: 80px; }

.pt-82 {
  padding-top: 82px; }

.pt-88 {
  padding-top: 88px; }

.pb-7 {
  padding-bottom: 7px; }

.pb-9 {
  padding-bottom: 9px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-12 {
  padding-bottom: 12px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-16 {
  padding-bottom: 16px; }

.pb-24 {
  padding-bottom: 24px; }

.pb-28 {
  padding-bottom: 28px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-32 {
  padding-bottom: 32px; }

.pb-64 {
  padding-bottom: 64px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-156 {
  padding-bottom: 156px; }

.pb-304 {
  padding-bottom: 304px; }

.pr-16 {
  padding-right: 16px; }

.pr-24 {
  padding-right: 24px; }

.pr-88 {
  padding-right: 88px; }

.pl-0 {
  padding-left: 0; }

.pl-16 {
  padding-left: 16px; }

.pl-19 {
  padding-left: 19px; }

.pl-24 {
  padding-left: 24px; }

.pl-88 {
  padding-left: 88px; }

.mb-4 {
  margin-bottom: 4px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-11 {
  margin-bottom: 11px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-17 {
  margin-bottom: 17px; }

.mb-19 {
  margin-bottom: 19px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-22 {
  margin-bottom: 22px; }

.mb-23 {
  margin-bottom: 23px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-36 {
  margin-bottom: 36px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-104 {
  margin-bottom: 104px; }

.ml-4 {
  margin-left: 4px; }

.ml-8 {
  margin-left: 8px; }

.ml-12 {
  margin-left: 12px; }

.ml-16 {
  margin-left: 16px; }

.ml-17 {
  margin-left: 17px; }

.ml-19 {
  margin-left: 19px; }

.ml-20 {
  margin-left: 20px; }

.ml-24 {
  margin-left: 24px; }

.ml-30 {
  margin-left: 30px; }

.ml-32 {
  margin-left: 32px; }

.ml-38 {
  margin-left: 38px; }

.ml-48 {
  margin-left: 48px; }

.ml-62 {
  margin-left: 62px; }

.ml-64 {
  margin-left: 64px; }

.ml-95 {
  margin-left: 95px; }

.mr-24 {
  margin-right: 24px; }

.mr-30 {
  margin-right: 30px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-19 {
  font-size: 19px; }

.fz-20 {
  font-size: 20px; }

.fz-24 {
  font-size: 24px; }

.fz-28 {
  font-size: 28px; }

.fz-32 {
  font-size: 32px; }

.fz-36 {
  font-size: 36px; }

.fz-42 {
  font-size: 42px; }

.fz-48 {
  font-size: 48px; }

.fz-64 {
  font-size: 64px; }

.fz-72 {
  font-size: 72px; }

.lh-21 {
  line-height: 21px; }

.lh-23 {
  line-height: 23px; }

.lh-26 {
  line-height: 26px; }

.lh-27 {
  line-height: 27px; }

.lh-29 {
  line-height: 29px; }

.lh-30 {
  line-height: 30px; }

.lh-36 {
  line-height: 36px; }

.lh-45 {
  line-height: 45px; }

.lh-48 {
  line-height: 48px; }

.lh-54 {
  line-height: 54px; }

.lh-63 {
  line-height: 63px; }

.lh-72 {
  line-height: 72px; }

.lh-80 {
  line-height: 80px; }

.lh-90 {
  line-height: 90px; }

.lh-95 {
  line-height: 95px; }

.lh-96 {
  line-height: 96px; }

.navbar .container {
  max-width: 100%; }

.navbar h1 {
  background-image: url(../images/logo.png);
  width: 80px;
  height: 49px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  .navbar h1 a {
    width: 100%;
    height: 100%; }

@media (max-width: 992px) {
  .navbar {
    padding: 30px 0; }
    .navbar .container {
      max-width: 960px; }
  .navbar-menu li:nth-child(n + 2) {
    margin-left: 40px; } }

@media (max-width: 767px) {
  .navbar {
    padding: 0; }
    .navbar .container {
      flex-direction: column;
      padding: 0; }
    .navbar h1 {
      margin: 8px 0; }
  .nav-logo {
    padding: 10px 0; }
    .nav-logo img {
      width: 48px;
      height: 30px; }
  .navbar-menu {
    width: 100%;
    flex-wrap: wrap; }
    .navbar-menu li {
      width: 50%;
      text-align: center;
      border-top: 1px solid white; }
      .navbar-menu li:hover {
        background-color: #650300; }
      .navbar-menu li:nth-child(n + 2) {
        margin-left: 0; }
      .navbar-menu li:nth-child(n + 3) {
        border-bottom: 1px solid white; }
      .navbar-menu li:nth-child(odd) {
        border-right: 1px solid white; }
      .navbar-menu li a {
        padding: 8px 0; }
  .hover-bt-line::after {
    display: none; } }

.footer-phone img, .footer-mail img {
  width: 44px;
  height: 44px; }

.footer-copyright {
  border-top: 1px solid white;
  color: white; }

@media (max-width: 992px) {
  .footer {
    padding: 40px 0; }
    .footer-phone, .footer-mail {
      font-size: 20px;
      line-height: 30px; }
      .footer-phone img, .footer-mail img {
        width: 24px;
        height: 24px; }
      .footer-phone a, .footer-mail a {
        margin-left: 12px; }
    .footer-phone {
      margin-bottom: 11px; }
    .footer-nav li:nth-child(n + 2) {
      margin-left: 40px; }
    .footer-social li:nth-child(n + 2) {
      margin-left: 24px; }
    .footer-social img {
      width: 24px;
      height: 24px; }
    .footer-copyright img {
      display: none; }
    .footer-copyright span {
      margin-left: 0; }
  .policy {
    font-size: 14px;
    line-height: 21px; }
    .policy li:last-child {
      margin-left: 24px; } }

@media (max-width: 767px) {
  .footer {
    padding: 23px 0; }
    .footer-nav {
      display: none; }
    .footer-phone, .footer-mail {
      font-size: 16px; }
      .footer-phone img, .footer-mail img {
        width: 20px;
        height: 20px; }
      .footer-phone a, .footer-mail a {
        margin-left: 4px; }
    .footer-phone {
      margin-bottom: 7px; }
    .footer-copyright {
      flex-direction: column;
      align-items: flex-start;
      position: relative; }
      .footer-copyright img {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 46px;
        height: 28px; }
      .footer-copyright span {
        margin-left: 0; }
    .footer-logo {
      margin-bottom: 7px; }
  .policy {
    flex-direction: column; }
    .policy li:last-child {
      margin-left: 0;
      margin-top: 7px; } }

.banner {
  background: url(../images/banner.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px; }
  .banner .container {
    height: 100%; }

@media (max-width: 992px) {
  .banner-text h2 {
    font-size: 20px;
    line-height: 30px; }
  .banner-text h1 {
    font-size: 48px;
    line-height: 72px; } }

@media (max-width: 767px) {
  .banner {
    height: 349px; }
  .banner-text h2 {
    font-size: 16px; }
  .banner-text h1 {
    font-size: 32px;
    line-height: 45px; } }

.section-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  color: #650300; }

@media (max-width: 992px) {
  .section-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px; } }

@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
    margin-bottom: 20px; } }

.service-card {
  width: calc((100% - 228px) / 4); }
  .service-card__img {
    width: 100px;
    height: 100px; }

@media (max-width: 992px) {
  .service {
    padding: 40px 0 80px; }
    .service .container {
      padding: 0 86px; }
    .service-card {
      width: calc((100% - 123px) / 2); }
      .service-card:nth-child(-n + 2) {
        margin-bottom: 40px; }
      .service-card__img {
        width: 80px;
        height: 80px;
        margin-bottom: 16px; }
      .service-card h4 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 8px; } }

@media (max-width: 767px) {
  .service {
    padding: 32px 0 52px; }
    .service .container {
      padding: 0 55px; }
    .service-card {
      width: 100%; }
      .service-card:nth-child(-n + 3) {
        margin-bottom: 40px; }
      .service-card__img {
        width: 80px;
        height: 80px;
        margin-bottom: 16px; }
      .service-card h4 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 8px; } }

.classic-list__item-img {
  width: 635px; }

.classic-list__item-icon-mobile {
  display: none; }

@media (max-width: 992px) {
  .classic {
    padding: 40px 0; }
    .classic-list {
      max-width: 690px;
      margin: auto; }
      .classic-list__item:nth-child(-n + 2) {
        margin-bottom: 8px; }
      .classic-list__item:nth-child(2) {
        flex-direction: row; }
      .classic-list__item-img {
        width: 390px; }
      .classic-list__item-icon {
        margin-right: 0;
        margin-left: 30px; }
        .classic-list__item-icon img {
          width: 32px;
          height: 32px; }
        .classic-list__item-icon h4 {
          font-size: 28px;
          line-height: 42px; } }

@media (max-width: 767px) {
  .classic {
    padding: 32px 0; }
    .classic-list {
      max-width: 345px; }
      .classic-list__item {
        position: relative; }
        .classic-list__item-img {
          width: 345px; }
        .classic-list__item-icon {
          margin-left: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          justify-content: center; }
          .classic-list__item-icon h4 {
            color: white; }
        .classic-list__item-icon-pc {
          display: none; }
        .classic-list__item-icon-mobile {
          display: block; } }

.crossover {
  background: url(../images/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .crossover .section-title {
    color: white; }
  .crossover-list__item {
    width: 540px;
    position: relative; }
    .crossover-list__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      opacity: 0.5;
      transition: all 0.3s ease-in-out; }
    .crossover-list__item:hover::before {
      opacity: 0; }
    .crossover-list__item h4 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap; }

@media (max-width: 992px) {
  .crossover {
    padding: 40px 0; }
    .crossover-list__item {
      width: 330px; }
      .crossover-list__item h4 {
        font-size: 32px;
        line-height: 25px; } }

@media (max-width: 767px) {
  .crossover {
    padding: 32px 0; }
    .crossover-list {
      flex-direction: column;
      align-items: center; }
      .crossover-list__item {
        max-width: 345px;
        margin: 0 0 16px 0; }
        .crossover-list__item:last-child {
          margin: 0; } }

.recommend-list__item {
  width: 255px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden; }
  .recommend-list__item:hover .recommend-list__item-img img {
    transform: scale(1.25) rotate(2deg); }
  .recommend-list__item:hover .recommend-list__item-inner {
    background: #aa06010d; }
  .recommend-list__item-img {
    overflow: hidden; }
    .recommend-list__item-img img {
      transition: all 0.4s ease-in-out; }
  .recommend-list__item-inner {
    transition: all 0.4s ease-in-out; }

@media (max-width: 992px) {
  .recommend {
    padding: 40px 0; }
    .recommend-list {
      flex-wrap: wrap;
      justify-content: center; }
      .recommend-list__item {
        width: 330px; }
        .recommend-list__item:nth-child(even) {
          margin-left: 30px; }
        .recommend-list__item:nth-child(-n + 2) {
          margin-bottom: 28px; }
        .recommend-list__item-img img {
          width: 100%; } }

@media (max-width: 767px) {
  .recommend {
    padding: 32px 0; }
    .recommend-list {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center; }
      .recommend-list__item {
        max-width: 345px; }
        .recommend-list__item:nth-child(even) {
          margin-left: 0; }
        .recommend-list__item:nth-child(-n + 3) {
          margin-bottom: 16px; } }

.contact .section-title {
  color: black; }

.contact-form {
  width: 730px;
  margin: 0 auto; }

.contact label {
  display: block; }

.contact input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  text-indent: 16px;
  border: 1px solid black; }
  .contact input::-webkit-input-placeholder {
    opacity: 0.2; }
  .contact input::-moz-placeholder {
    opacity: 0.2; }
  .contact input:-ms-input-placeholder {
    opacity: 0.2; }
  .contact input::-ms-input-placeholder {
    opacity: 0.2; }
  .contact input::placeholder {
    opacity: 0.2; }

.contact textarea {
  width: 100%;
  height: 136px;
  background-color: transparent;
  text-indent: 16px;
  resize: none;
  padding-top: 14px;
  border: 1px solid black;
  font-family: "Noto Sans", sans-serif; }
  .contact textarea::-webkit-input-placeholder {
    opacity: 0.2; }
  .contact textarea::-moz-placeholder {
    opacity: 0.2; }
  .contact textarea:-ms-input-placeholder {
    opacity: 0.2; }
  .contact textarea::-ms-input-placeholder {
    opacity: 0.2; }
  .contact textarea::placeholder {
    opacity: 0.2; }

.contact .form-check {
  display: flex;
  align-items: center; }
  .contact .form-check input {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer; }
  .contact .form-check label {
    cursor: pointer; }

.contact .submit-btn {
  width: 350px;
  height: 54px;
  border: 0;
  background-color: #aa0601;
  color: white;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .contact .submit-btn:hover {
    background-color: #650300; }
  .contact .submit-btn:focus {
    background-color: #650300; }

@media (max-width: 992px) {
  .contact {
    padding: 40px 0; }
    .contact-form {
      width: 450px; }
      .contact-form p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px; }
    .contact .input-group {
      margin-bottom: 8px; }
      .contact .input-group label {
        margin-bottom: 2px; }
    .contact input {
      height: 36px;
      text-indent: 12px; }
    .contact textarea {
      height: 100px;
      text-indent: 12px;
      padding-top: 8px; }
    .contact .form-check {
      margin-bottom: 20px; }
      .contact .form-check input {
        width: 18px;
        height: 18px;
        align-self: flex-start; }
    .contact .submit-btn {
      width: 210px;
      height: 36px; } }

@media (max-width: 767px) {
  .contact {
    padding: 32px 0; }
    .contact-form {
      max-width: 345px; }
      .contact-form p {
        margin-bottom: 8px; }
    .contact .form-check {
      margin-bottom: 24px; }
    .contact .submit-btn {
      width: 165px; } }

.frame-nav .container {
  max-width: 1380px; }

.frame-nav__list {
  border: 1px solid #dcdcdc; }
  .frame-nav__list-item {
    width: 462px; }
    .frame-nav__list-item:nth-child(-n + 2) {
      border-right: 1px solid #dcdcdc; }
    .frame-nav__list-item a {
      color: #000;
      border-bottom: 15px solid transparent; }
    .frame-nav__list-item:hover a {
      border-bottom: 15px solid #aa0601; }
    .frame-nav__list-item a.active {
      border-bottom: 15px solid #aa0601; }

.frame-banner__list-item {
  height: 309px; }
  .frame-banner__list-item:nth-child(1) {
    background: url(../images/banner-1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; }
  .frame-banner__list-item:nth-child(2) {
    background: url(../images/banner-2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; }

.frame-list__list-item {
  width: calc((100% - 90px) / 4); }

.frame-list__color-cube {
  position: relative;
  height: 24px; }
  .frame-list__color-cube::before, .frame-list__color-cube::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    background-color: #5f3e2d;
    border-radius: 4px; }
  .frame-list__color-cube::after {
    background-color: #b75929;
    margin-left: 32px; }

.page-controller li {
  border-right: 1px solid #555555;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555; }
  .page-controller li:first-child {
    border-left: 1px solid #555555; }
  .page-controller li:last-child {
    background-color: #f2f2f2; }
  .page-controller li:hover {
    background-color: #000000; }
  .page-controller li:hover a {
    color: white; }

.page-controller a {
  color: #555555; }

@media (max-width: 992px) {
  .frame-nav .container {
    max-width: 100%;
    padding: 0; }
  .frame-nav__list-item a {
    padding: 16px 0; }
    .frame-nav__list-item a img {
      width: 32px;
      height: 32px; }
    .frame-nav__list-item a h4 {
      font-size: 28px;
      line-height: 42px; }
  .frame-nav__list-item:hover a {
    border-bottom: 8px solid #aa0601; }
  .frame-banner__list-item:nth-child(2) {
    margin-left: 0; }
  .frame-list {
    padding: 40px 0 104px; }
    .frame-list h3 {
      font-size: 32px;
      line-height: 48px; }
    .frame-list h4 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 32px; }
    .frame-list__list {
      max-width: 690px;
      margin: auto;
      margin-bottom: 100px; }
      .frame-list__list-item {
        width: calc((100% - 30px) / 2);
        margin: 0; }
        .frame-list__list-item:nth-child(even) {
          margin-left: 30px;
          margin-bottom: 72px; }
        .frame-list__list-item:last-child {
          margin-bottom: 0; }
        .frame-list__list-item img {
          width: 100%; }
        .frame-list__list-item-inner p {
          line-height: 30px; } }

@media (max-width: 767px) {
  .frame-nav__list-item a {
    padding: 8px 0; }
    .frame-nav__list-item a img {
      width: 15px;
      height: 15px; }
    .frame-nav__list-item a h4 {
      font-size: 14px;
      line-height: 19px;
      margin-left: 5px; }
  .frame-nav__list-item:hover a {
    border-bottom: 4px solid #aa0601; }
  .frame-banner__list-item {
    height: 144px; }
  .frame-list {
    padding: 30px 0 30px; }
    .frame-list h3 {
      font-size: 20px;
      line-height: 26px; }
    .frame-list h4 {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px; }
    .frame-list__list {
      max-width: 345px;
      margin: 0 auto; }
      .frame-list__list-item {
        width: 100%; }
        .frame-list__list-item:nth-child(even) {
          margin-left: 0;
          margin-bottom: 0; }
        .frame-list__list-item:nth-child(n + 4) {
          display: none; }
        .frame-list__list-item:nth-child(-n + 3) {
          margin-bottom: 32px; }
        .frame-list__list-item-inner p {
          font-size: 16px; }
  .page-controller li a {
    font-size: 12px;
    line-height: 18px;
    padding: 8px; } }

.sun.frame-banner__list-item:nth-child(1) {
  background: url(../images/banner-3.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.sun.frame-banner__list-item:nth-child(2) {
  background: url(../images/product-2-color.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.sun.frame-list__list-item {
  width: calc((100% - 60px) / 3); }
  .sun.frame-list__list-item:nth-child(n + 7) {
    display: none; }

.sun.frame-list .page-controller {
  display: none; }

@media (max-width: 992px) {
  .sun.frame-list__list-item {
    width: calc((100% - 30px) / 2); }
    .sun.frame-list__list-item:nth-child(n + 7) {
      display: initial; }
  .sun.frame-list .page-controller {
    display: flex; } }

@media (max-width: 767px) {
  .sun.frame-list__list-item {
    width: 100%;
    margin-bottom: 32px; }
    .sun.frame-list__list-item-inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0; }
      .sun.frame-list__list-item-inner p {
        margin: 0; } }

.secondary-banner {
  height: 304px;
  background: url(../images/qa.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .secondary-banner .container {
    height: 100%; }

.stores-location__selector select {
  height: 45px;
  width: 324px;
  color: #495057; }

.stores-location__list-item {
  width: calc((100% - 60px) / 3); }
  .stores-location__list-item .store-info {
    border: 1px solid #00000020; }
    .stores-location__list-item .store-info__name {
      border-bottom: 1px solid #00000020;
      height: 60px; }
    .stores-location__list-item .store-info__content img {
      width: 21px;
      height: 21px; }
    .stores-location__list-item .store-info__content-address img {
      position: relative;
      top: 5px; }
    .stores-location__list-item .store-info__detail {
      background-color: black;
      transition: all 0.3s ease-in-out; }
      .stores-location__list-item .store-info__detail:hover {
        background-color: rgba(0, 0, 0, 0.685); }

@media (max-width: 992px) {
  .secondary-banner h1 {
    font-size: 48px; }
    .secondary-banner h1 img {
      width: 30px;
      height: 43px;
      margin-left: 16px; }
  .stores-location {
    padding: 8px 0 104px; }
    .stores-location__selector {
      margin-bottom: 24px; }
      .stores-location__selector label {
        font-size: 16px; }
      .stores-location__selector select {
        width: 237px;
        padding: 12px 0 12px 16px;
        font-size: 16px;
        line-height: 24px; }
    .stores-location__list {
      max-width: 690px;
      margin: 0 auto; }
      .stores-location__list-item {
        width: calc((100% - 30px) / 2);
        margin: 0; }
        .stores-location__list-item:nth-child(even) {
          margin-left: 30px; }
        .stores-location__list-item:not(:last-child) {
          margin-bottom: 20px; }
        .stores-location__list-item .store-info__name {
          font-size: 16px;
          height: 40px;
          padding-left: 16px; }
        .stores-location__list-item .store-info__content {
          padding: 16px; }
          .stores-location__list-item .store-info__content img {
            width: 20px;
            height: 20px; }
          .stores-location__list-item .store-info__content p {
            margin-left: 16px;
            font-size: 14px;
            line-height: 21px; }
          .stores-location__list-item .store-info__content-address img {
            top: 0px; }
        .stores-location__list-item .store-info__detail a {
          font-size: 14px;
          line-height: 21px;
          padding: 16px 0; } }

@media (max-width: 767px) {
  .secondary-banner {
    background: url(../images/blog-4.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 143px; }
    .secondary-banner h1 {
      font-size: 28px;
      line-height: 40px; }
      .secondary-banner h1 img {
        width: 16px;
        height: 24px;
        margin-left: 8px; }
  .stores-location {
    padding: 8px 0 56px; }
    .stores-location__selector {
      margin-bottom: 20px; }
      .stores-location__selector label {
        font-size: 14px; }
      .stores-location__selector select {
        width: 277px;
        height: 36px;
        margin-left: 12px;
        font-size: 14px;
        padding: 8px 0 8px 16px; }
    .stores-location__list {
      max-width: 345px; }
      .stores-location__list-item {
        width: 100%; }
        .stores-location__list-item:nth-child(even) {
          margin-left: 0; }
        .stores-location__list-item:not(:last-child) {
          margin-bottom: 16px; }
        .stores-location__list-item .store-info__name {
          line-height: 24px; } }

.map.stores-location__list-item {
  width: calc(100% - 665px); }
  .map.stores-location__list-item-map {
    width: calc(100% - 475px); }
    .map.stores-location__list-item-map iframe {
      width: 100%;
      height: 100%; }

@media (max-width: 992px) {
  .map.stores-location__list {
    flex-wrap: wrap; }
    .map.stores-location__list-item {
      display: flex;
      width: 100%; }
      .map.stores-location__list-item > div {
        width: calc((100% - 30px) / 2); }
      .map.stores-location__list-item .store-info {
        margin-left: 30px; }
      .map.stores-location__list-item-map {
        width: 100%;
        height: 300px;
        margin-left: 0; } }

@media (max-width: 767px) {
  .map.stores-location__list {
    flex-wrap: wrap; }
    .map.stores-location__list-item {
      display: initial;
      width: 100%; }
      .map.stores-location__list-item > div {
        width: 100%; }
      .map.stores-location__list-item .store-info {
        margin-left: 0; } }

.qa.secondary-banner img {
  width: 58px;
  height: 58px; }

@media (max-width: 992px) {
  .qa.secondary-banner img {
    width: 48px;
    height: 48px; }
  .qa-content {
    padding: 40px 0 104px; }
    .qa-content .qa-list__group-a {
      margin-left: 60px; }
      .qa-content .qa-list__group-a p {
        font-size: 16px; } }

@media (max-width: 767px) {
  .qa.secondary-banner img {
    width: 24px;
    height: 24px; }
  .qa-content {
    padding: 24px 0 56px; }
    .qa-content h2 {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px; }
    .qa-content .qa-list {
      margin-bottom: 20px; }
      .qa-content .qa-list__group-q {
        margin-bottom: 8px; }
        .qa-content .qa-list__group-q h3 {
          font-size: 16px;
          line-height: 22px; }
      .qa-content .qa-list__group-a {
        margin-left: 0; }
        .qa-content .qa-list__group-a p {
          font-size: 14px; } }

.blog-nav__list-item .hover-bt-line::after {
  bottom: 10px; }

.blog-nav__list-item:last-child {
  margin-left: auto; }

.blog-nav img {
  height: 24px; }

.blog-content__list-item-img {
  width: calc(100% - 30px - 445px); }
  .blog-content__list-item-img img {
    width: 100%; }

.blog-content__list-item-info {
  width: calc(100% - 30px - 635px); }
  .blog-content__list-item-info__header p {
    opacity: 0.7; }
  .blog-content__list-item-info__body {
    color: #555555; }
    .blog-content__list-item-info__body a {
      color: #555555;
      display: none; }

@media (max-width: 992px) {
  .blog-nav__list {
    max-width: 690px;
    margin: auto; }
    .blog-nav__list-item:not(:first-child) {
      margin-left: 32px; }
    .blog-nav__list-item:last-child {
      margin-left: auto; }
    .blog-nav__list-item a {
      font-size: 16px;
      line-height: 22px;
      padding: 16px 0; }
    .blog-nav__list-item .hover-bt-line::after {
      bottom: 10px; }
  .blog-nav img {
    height: 24px; }
  .blog-content {
    padding: 40px 0 104px; }
    .blog-content__list {
      max-width: 690px;
      margin: 0 auto 104px auto; }
      .blog-content__list-item:not(:last-child) {
        margin-bottom: 32px; }
      .blog-content__list-item-img {
        width: 330px; }
      .blog-content__list-item-info {
        width: 330px; }
        .blog-content__list-item-info__header {
          margin-bottom: 16px; }
          .blog-content__list-item-info__header h2 {
            font-size: 20px;
            line-height: 28px; }
          .blog-content__list-item-info__header h3 {
            font-size: 16px;
            line-height: 21px; }
          .blog-content__list-item-info__header span {
            font-size: 14px; }
        .blog-content__list-item-info__body {
          margin-bottom: 0; }
          .blog-content__list-item-info__body p {
            font-size: 14px;
            line-height: 21px; }
            .blog-content__list-item-info__body p a {
              display: inline-block; }
        .blog-content__list-item-info__detail {
          display: none; }
          .blog-content__list-item-info__detail a {
            display: inline-block; } }

@media (max-width: 767px) {
  .blog-nav {
    display: none; }
  .blog-content {
    padding: 24px 0 56px; }
    .blog-content__list {
      max-width: 345px;
      margin: 0 auto 39px auto; }
      .blog-content__list-item {
        flex-direction: column; }
        .blog-content__list-item:not(:last-child) {
          margin-bottom: 26px; }
        .blog-content__list-item-img {
          width: 100%; }
        .blog-content__list-item-info {
          width: 100%;
          margin-left: 0; }
          .blog-content__list-item-info__header {
            margin-bottom: 0; }
            .blog-content__list-item-info__header h2 {
              font-size: 16px;
              line-height: 22px; }
            .blog-content__list-item-info__header h3 {
              font-size: 14px;
              line-height: 19px; }
            .blog-content__list-item-info__header span {
              line-height: 19px; }
          .blog-content__list-item-info__body {
            display: none; } }

.event-main .sm {
  display: none; }

.event-head .bread-crumb__list-item:nth-child(-n + 3) {
  margin-right: 16px; }

.event-head .bread-crumb__list-item a {
  color: #000;
  position: relative; }
  .event-head .bread-crumb__list-item a::after {
    content: "/";
    position: absolute;
    right: -12px; }

.event-content {
  max-width: calc(100% - 285px); }
  .event-content span {
    color: #6c6c6c; }
  .event-content-card__list-item p {
    color: #0a0a0a;
    opacity: 0.6; }
  .event-content__social-shareBtn a {
    color: #000; }
  .event-content__refer-list {
    max-width: calc(100% - 285px);
    border-top: 1px solid #000; }
    .event-content__refer-list li a:hover p {
      border-bottom: 1px solid black; }
    .event-content__refer-list a {
      color: #000; }

@media (max-width: 992px) {
  .event-head .bread-crumb__list {
    font-size: 14px;
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 8px; }
    .event-head .bread-crumb__list__item:nth-child(-n + 3) {
      margin-right: 16px; }
    .event-head .bread-crumb__list__item a {
      color: #000;
      position: relative; }
      .event-head .bread-crumb__list__item a::after {
        content: "/";
        position: absolute;
        right: -12px; }
  .event-head .hashtag__list {
    max-width: 690px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 21px; }
    .event-head .hashtag__list-item:last-child {
      margin-left: 8px; }
  .event-group {
    width: 690px;
    margin: 0 auto; }
  .event-content {
    max-width: calc(100% - 180px); }
    .event-content h1 {
      font-size: 32px;
      line-height: 45px; }
    .event-content h3 {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 17px; }
    .event-content span {
      font-size: 14px;
      line-height: 19px; }
    .event-content-card__list-item {
      margin-bottom: 24px; }
      .event-content-card__list-item:last-child {
        margin-bottom: 27px; }
      .event-content-card__list-item img {
        margin-bottom: 16px; }
      .event-content-card__list-item p {
        font-size: 16px;
        line-height: 24px; }
    .event-content__social {
      margin-bottom: 16px; }
      .event-content__social-shareBtn a {
        font-size: 16px; }
      .event-content__social-icon {
        margin-left: 16px; }
        .event-content__social-icon img {
          width: 20px;
          height: 20px; }
    .event-content__refer {
      max-width: 690px;
      margin: 0 auto; }
      .event-content__refer-list {
        max-width: 100%; }
        .event-content__refer-list li p {
          font-size: 16px; }
        .event-content__refer-list li img {
          width: 20px;
          height: 17px; }
  .event-tags__head {
    margin-bottom: 6px; }
    .event-tags__head img {
      width: 24px;
      height: 24px; }
    .event-tags__head p {
      font-size: 20px;
      line-height: 30px; }
  .event-tags__list {
    font-size: 16px;
    line-height: 21px; }
    .event-tags__list-item:nth-child(2) {
      margin-left: 16px; }
    .event-tags__list-item:nth-child(4) {
      margin-left: 0;
      margin-right: 29px; }
    .event-tags__list-item:nth-child(6) {
      margin-left: 16px; } }

@media (max-width: 767px) {
  .event-main {
    padding-bottom: 56px; }
    .event-main .lg {
      display: none; }
    .event-main .sm {
      display: block;
      max-width: 345px;
      margin: 0 auto; }
  .event-nav.blog-nav {
    display: flex; }
    .event-nav.blog-nav__list {
      max-width: 345px; }
      .event-nav.blog-nav__list-item:last-child {
        display: none; }
      .event-nav.blog-nav__list-item:not(:first-child) {
        margin-left: 24px; }
  .event-head .bread-crumb__list {
    font-size: 14px;
    max-width: 345px;
    margin-bottom: 6px; }
    .event-head .bread-crumb__list-item:nth-child(-n + 3) {
      margin-right: 16px; }
    .event-head .bread-crumb__list-item a {
      color: #000;
      position: relative; }
      .event-head .bread-crumb__list-item a::after {
        content: "/";
        position: absolute;
        right: -12px; }
  .event-head .hashtag__list {
    max-width: 345px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px; }
    .event-head .hashtag__list-item:last-child {
      margin-left: 4px; }
  .event-group {
    width: 345px;
    margin: 0 auto;
    flex-direction: column; }
  .event-content {
    max-width: 100%; }
    .event-content h1 {
      font-size: 20px;
      line-height: 28px;
      color: #650300; }
    .event-content h3 {
      font-size: 14px;
      margin-bottom: 19px; }
    .event-content span {
      font-size: 14px;
      line-height: 19px; }
    .event-content-card__list-item:last-child {
      margin-bottom: 31px; }
    .event-content__social-icon {
      margin-left: 18px; }
    .event-content__refer {
      max-width: 345px;
      margin: 0 auto;
      margin-bottom: 39px; }
      .event-content__refer-list {
        max-width: 100%;
        flex-direction: column;
        padding-top: 8px; }
        .event-content__refer-list li:last-child a {
          flex-direction: row-reverse;
          justify-content: flex-end;
          margin-top: 8px; }
          .event-content__refer-list li:last-child a img {
            margin-left: 0; }
          .event-content__refer-list li:last-child a p {
            margin-left: 8px; }
        .event-content__refer-list li p {
          font-size: 16px; }
        .event-content__refer-list li img {
          width: 20px;
          height: 17px; }
  .event-tags__head {
    margin-bottom: 6px; }
    .event-tags__head img {
      width: 24px;
      height: 24px; }
    .event-tags__head p {
      font-size: 20px;
      line-height: 30px; }
  .event-tags__list {
    font-size: 16px;
    line-height: 21px; }
    .event-tags__list-item:nth-child(2) {
      margin-left: 8px; }
    .event-tags__list-item:nth-child(3) {
      margin-left: 8px;
      margin-right: 0; }
    .event-tags__list-item:nth-child(4) {
      margin-left: 8px; }
    .event-tags__list-item:nth-child(5) {
      margin-left: 0; }
    .event-tags__list-item:nth-child(6) {
      margin-left: 8px;
      margin-right: 0; }
    .event-tags__list-item:nth-child(7) {
      margin-left: 8px; } }

/*# sourceMappingURL=all.css.map */
